

/* vertical depois do header*/
.vertical_line{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;
}
.vertical_line::before{
   width: 1px;
   height: 50px;
   background-color: black;
   content: "";
   position: absolute;
   bottom: -30px;
}
/* vertical depois do header*/

/* começo da nav*/
.header-nav{
    background-color: white;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1.5%;
    justify-content: space-between;
}

.header-nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-nav-list li{
        gap: 10px;
}

.header-nav-list li a{
    color: black;
}

.header-nav-list li a:hover{
    color:blue;
}

.header-nav-buttons{
    width: 30%;
    text-align: right;
}

.header-nav-button-sign-in{
    color: black;
}

.header-nav-button-sign-up{
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 2% 5%;
    box-sizing: border-box;
    margin-left: 10%;
}

/* terminada a nav*/

/* starts principal section off the main w/video */


.main-section{
    background-color: transparent;
    width: 100%;
    margin: auto;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    max-width: 704px;
    margin-bottom: 50px;
}

.main-section h1{
    font-size: 5em;
}

.main-section p{
    width: 60%;
    margin: auto;
    padding: 3%;
}

.main-section-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding-bottom: 5%;
}

.button-free-trial{
    background-color: #0064DA;
    border: 1px solid #0064DA;
    padding: 0.5% 1%;
    color: white;
    width: 126px;
    height: 33px;
    cursor: pointer;
}

.button-learn-more{
    background-color: black;
    border: 1px solid black;
    width: 108px;
    height: 33px;
    color: white;
    cursor: pointer;
}


.main-video-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
}

.main-section-video{
    width: 70%;
}


.main-video-button{
    position: absolute;
    bottom: -10px;
    border-radius: 16px;
    background-color: blue;
    padding: 8px 16px;
    border: 0;
    cursor: pointer;
}

.main-video-button:active{
    background-color: aliceblue;
}

/* finish principal section off the main w/video */


/* starts second section of the main */

.main-second-section{
    width: 100%;
    background-color: #F5F5F5;
    margin: auto;
    text-align: center;
    padding-bottom: 1%;
}

.main-second-section h1{
    font-size: 5em;
    padding-top: 3%;
}

.main-second-section p{
   width: 40%;
   margin: auto;
   padding: 2%;
}

.main-second-section-container-img{
    width: 40%;
}

/* starts the third section of the m ain */

.main-third-section{
    background: linear-gradient(#FFFFFF 50%, #F5F5F5 50%) ;
    text-align: center;
    padding-bottom: 15px;
    position: relative;
}

.main-third-section h1{
    font-size: 5em;
    padding-top: 3%;
}

.main-third-section p{
    width: 40%;
    margin: auto;
    padding: 2%;
}

.main-third-section-containter-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 65%;
    gap: 5%;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 199px;
    height: 173px;
    box-sizing: border-box;
    background-color: white;
    margin: 5px;
    padding: 10px 0;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
}

.card:hover{
    background-color: blue;
    bottom: 0;
}

.card:hover .card-icon{
    background-color: white;
}



.card-icon:hover{
    background-color: #DFDFDF;
}

.card p{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
}


.card-icon{ 
    width: 44px;
    height: 44px;
    border-radius: 44px;
    background-color:blue;
}


/* aqui finaliza a third section (voltar atrás o hover ainda não esta resolvido) */

.main-fourth-section{
    text-align: center;
    padding-bottom: 50px;
    background-color: #FFFFFF;
}

.main-fourth-section h1{
    font-size: 3em;
    padding-top: 3%;
}

.main-fourth-section-buttons{
    padding: 2%;
}

.main-fourth-section-buttons button{
    border-radius: 16px;
    background-color: transparent;
    padding: 5px 10px;
    border: 1px solid #ECEBEB;
    margin: 0 10px 0 0;
}

.main-fourth-section-buttons button:hover{
    background-color: #0064DA;
    color: white;
}

.cards-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 221px;
    height: 270px;
}

.cards-container p{
    text-align: start;
}

.cards{
    display: flex;
    justify-content: center;
    gap:15px;
}

.card-img{
    width: 218.95px;
    height: 121px;
    background-color: #C4C4C4;
    border-radius: 2px;
}

.card-buttons BUTTON{
    border-radius: 16px;
    background-color: transparent;
    padding: 5px 10px;
    border: 1px solid #ECEBEB;
    margin: 0 5px 0 0;
}

.card-user-img{
    width: 40px;
    height: 35px;
    background: #C4C4C4;
    border-radius: 20px;
}

/* Finish fourth section of the main */

/* Starting fifth section of the main */

.main-fifth-section{
    background-color: white;
    width: 100%;
    height: 400px;
    position: relative;
}

.main-fifth-section-container{
    position: absolute;
    bottom: 100px;
    left: 10%;
    width: 80%;
    height: 200px;
    background-color: blue;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main-fifth-section-container h2{
    font-size: 30px;
    color: white;
}

.main-fifth-section-container a{
    padding: 8px 16px;
    border: 1px solid white;
    color: black;
    background-color: white;
}

.main-fifth-section-container a:hover{
    color: #0064DA;
}

/* finish the fifth section of the main */

/* footer */

.footer{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    margin: 20px 10px 20px 10px;
}

.footer-subscribe-container button{
    padding: 4px 8px;
    background-color: black;
    color: white;
    border: 1px solid transparent;
    cursor: pointer;
}

.footer-subscribe-container input{
    font-size: 1em;
}

.footer-container h2{
    font-size: 1.5em;
}

.footer-container p a{
    line-height: 20px;
    cursor: pointer;
    color: black;
}

.footer-container p a:hover{
    text-decoration:underline;
    color: blue;
}

@media screen and (max-width: 800px){
    body{
        background-color: azure;
    } /* media screen, é para verificar se é tela .
 and min widht - se o minimo de tamanho da tela for
 1024 passa a ter as seguintes definições ""*/

    .main-third-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-third-section-containter-cards{
        display: flex;
        flex-direction: row;
    }

    .card{
        display: flex;
        flex-direction: column;
        width: 40%;
    }



    .cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .cards-container{
        display: flex;
        flex-direction: column;

    }

} 
